<head>
</head>
	</br>
	<h1>Welcome to Rook N Röll</h1> 
	<span class='glyphicon glyphicon-tower'></span>
	<span class='glyphicon glyphicon-tower'></span>
	<span class='glyphicon glyphicon-tower'></span>
	<span class='glyphicon glyphicon-tower'></span>
	<span class='glyphicon glyphicon-tower'></span>
	<span class='glyphicon glyphicon-tower'></span>
	<span class='glyphicon glyphicon-tower'></span>
	<span class='glyphicon glyphicon-tower'></span>
	<span class='glyphicon glyphicon-tower'></span>
	<br />
	<br />
	<h3> Play other users head to head on the internet's only Rock and Roll themed chess game! Rook n Roll combines the the fun of rock music and the strategy and foresight of chess. Can your Queen make <i>Another One Bite The Dust?</i> Made a wrong move? <i>You Won't Get Fooled Again!</i> There will always be <i> Heroes and Villians</i> in the game of chess, but once you win, you realize <i> Nothing Else Matters</i>. Whether you're on Team <i>White Album</i> or Team <i>Black Album</i> you'll have fun with Rook n Roll Chess!</h3>
	<br />
