<h1>Games Available To Join</h1>

<% if @opengames.present? %>
  <% @opengames.each do |game| %>
    <p>
      <%= game.name %>
      <%= link_to 'Join Game', game_path(game), method: :put %>
    </p>
  <% end %>
<% end %>
