<table id="chessboard">
  <% (0..7).each do |row| %>
    <tr>
      <% (0..7).each do |column| %>
        <% square_color = (row + column).odd? ? 'black' : 'white' %>
        <td class="<%= square_color %>-space">
          <% if piece = @game.pieces.find_by_coordinates(column, row) %>
            <%= link_to piece_path(piece) do %>
              <span class="<%= piece.glyph %>" ></span>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

