<table id="chessboard">
  <% square_order_by_color(@game).each do |row| %>
    <tr>
      <% square_order_by_color(@game).each do |column| %>
        <% square_color = (row + column).odd? ? 'black' : 'white' %>
        <%= content_tag :td, class:"#{square_color}-space space", data: {row: row, column: column}, id: "square-#{column}-#{row}" do %>
          <% if piece = @game.pieces.find_by_coordinates(column, row) %>
            <%= tag(:span, class: "#{piece.glyph}", data: {piece_id: piece.id}, id: "piece-#{piece.id}") %>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>


<div id='messages'>
</div>

<%= link_to 'Resign', game_path(@game), method: :delete, data: { confirm: 'Are you sure you want to forfeit?' }, class: 'btn btn-danger' %>
