<table id="chessboard">
  <% (0..7).each do |row| %>
    <tr>
      <% (0..7).each do |column| %>
        <% square_color = (row + column).odd? ? 'black' : 'white' %>
        <%= content_tag :td, class:"#{square_color}-space space", data: {row: row, column: column} do %>
          <% if piece = @game.pieces.find_by_coordinates(column, row) %>
            <%= tag(:span, class: "#{piece.glyph}", data: {piece_id: piece.id}) %>
          <% end %>
        <% end %>
      <% end %>
    </tr>
  <% end %>
</table>

<%= link_to 'Resign', game_path(@game), method: :delete, confirm: 'Are you sure you want to forfeit?', class: 'btn btn-danger' %>`