@font-face {
    font-family: 'judaspriestregular';
    src: url('judaspriest-webfont.eot');
    src: url('judaspriest-webfont.eot?#iefix') format('embedded-opentype'),
         url('judaspriest-webfont.woff2') format('woff2'),
         url('judaspriest-webfont.woff') format('woff'),
         url('judaspriest-webfont.ttf') format('truetype'),
         url('judaspriest-webfont.svg#judaspriestregular') format('svg');
    font-weight: normal;
    font-style: normal;

}