#chessboard {
  border: 3px solid;
  margin: 5px;
  height: 480px;
  width: 480px;
  table-layout: fixed;
}

.white-space {
  background-color: white;
  height: 12.5%;
  width: 12.5%;
  padding: 0px;
  margin: 0px;
}

.black-space {
  background-color: black;
  height: 12.5%;
  width: 12.5%;
  padding: 0px;
  margin: 0px;
}

// .glyphicon {
//   font-size:
// }
.glyph-black {
  text-shadow: 0 0 2px white;
}

.glyph-white {
  color: #ddd;
  text-shadow: 0 0 4px black;
}

.piece {
  height: 62%;
  width: 100%;
  font-size: 30px;
  text-align: center;
}
