#chessboard {
  border: 3px solid;
  margin: 5px;
  height: 480px;
  width: 480px;
  table-layout: fixed;
}

#chosen-square {
  box-shadow: 0 0 10px blue;
  background-color: #F9B71D;
}

.white-space {
  background-color: white;
  height: 12.5%;
  width: 12.5%;
  padding: 0px;
  margin: 0px;
}

.black-space {
  background-color: black;
  height: 12.5%;
  width: 12.5%;
  padding: 0px;
  margin: 0px;
}

.square {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-top: 8px;
  display: inline-block;
}

.glyph-black {
  color: #222;
  text-shadow: 0 0 2px white;
}

.glyph-white {
  color: #ddd;
  text-shadow: 0 0 4px black;
}

.piece {
  height: 62%;
  width: 100%;
  font-size: 30px;
  text-align: center;
}

.border {
  border: 1px solid #E6193B;
}